{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Willkommen bei Taskmate!</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md-4 mb-4 mb-md-0">
            <img src="{% static 'images/stickynotes.jpg' %}" alt="Notes" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-12 col-sm-12 col-md-4 mb-4 mb-md-0">
            <img src="{% static 'images/stickynotes-1.jpg' %}" alt="Notes" class="img-fluid rounded shadow-sm">
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <img src="{% static 'images/stickynotes-2.jpg' %}" alt="Notes" class="img-fluid rounded shadow-sm">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-10 offset-md-1 text-center">
            <p class="h1 text-primary">Einfach und schnell, überall, jederzeit!</p>
            <p class="h2 mt-3">Organsiere Deine ToDos</p>
            <p class="h5">TASKMATE organisiert Deine ToDos an einem Ort</p>

            <a href="{% url 'todolist' %}">
                <button type="button" class="btn btn-primary btn-lg mt-3 shadow">Auf geht's</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
